.auth-section {
    display: flex;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.auth-form-wrapper {
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
}

.auth-form {
    background: #fff;
    width: 450px;
    height: 580px;
    box-shadow: 1px -4px 8px rgba(0, 0, 0, 0.08), 0 16px 16px rgba(0, 0, 0, 0.06);
}

.auth-links {
    display: flex;
    height: 50px;
    align-items: center;
}

.auth-links li {
    width: 50%;
    text-align: center;
    cursor: pointer;
    height: 50px;
    line-height: 50px;

}

.auth-links li.active {
    background-color: rgba(255, 0, 0, 0.72);
    color: #fff;
    font-weight: bold;
}

.social-buttons {
    display: flex;
    margin-top: 40px;
    border-bottom: 1px solid;
    position: relative;
    justify-content: space-between;
}

.social-buttons::after {
    content: "OR";
    position: absolute;
    bottom: 0;
    transform: translate(-50%, 50%);
    background: white;
    padding: 0 5px;
    left: 50%;
}

.social-buttons > div {
    color: white;
    display: flex;
    height: 40px;
    line-height: 40px;
    width: 195px;
    margin-bottom: 20px;
}

.social-buttons div i {
    border-right: 1px solid #000;
    padding-left: 5px;
    padding-right: 5px;
    width: 30px;
    text-align: center;
    line-height: 26px;
    min-width: max-content;
}

.google-button {
    background-color: #d34836;
}

.facebook-button {
    background-color: #3b5998;
}

.social-button-text {
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.auth-item-field label {
    display: block;
    margin-bottom: 10px;
    font-weight: bolder;
    cursor: pointer;
}

.auth-item-field input {
    margin-bottom: 10px;
    width: 100%;
    background-color: #fff;
    border: 1px none rgba(169, 169, 169, 0.96);
    border-bottom-style: solid;
    line-height: 30px;
    padding: 0 10px;
}

.auth-item-field input:focus {
    outline: none;
    border-color: #d34836;
}

.auth-body {
    padding: 0 15px;
}

.social-buttons {
    margin-bottom: 41px;
    padding-bottom: 20px;
}

.auth-item-field + .auth-item-field {
    margin-top: 30px;
}

.submit-auth {
    text-align: right;
}

.submit-auth {
    margin-top: 15px;
}

.submit-auth button {
    text-transform: uppercase;
    background-color: #0091B3;
    color: #fff;
    border: none;
    width: 100px;
    height: 50px;
    line-height: 30px;
}