.chat {
    display: flex;
    height: 100%;
}
/*=== channel window ===*/
/*.channel-window {*/
/*    flex-grow: 1;*/
/*}*/


/*=== right sidebar ===*/
.left-sidebar {
    margin-right: auto;
    min-width: 30%;
    border-right: 1px solid #27272714;
    position: relative;
}

.channel-list-wrapper {
    overflow: auto;
}

.channel-list li:hover .delete-channel-button::after {
    content: '×';
}

ul.channel-list li .delete-channel-button:hover {
    color: #bf3c2c;
    transition: all linear .1s;
    cursor: pointer;
}