:root {
    --default: #afafaf;
    --default-blue: #347180;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 300 15px/1 "Open Sans", sans-serif;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

textarea {
    resize: vertical;
}

.default-button {
    padding: 0 0 0 0;
    border: none;
    display: block;
}

.default-button:focus {
    outline: none;
}